.notfoundImage {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.t {
    text-align: center;
}

.ts {
    text-align: center;
}

.r {
    width: 600px;
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    object-fit: contain;
    object-position: center;
}