.height {
    width: 95%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.height img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}